---
page_title: "Provider: Xelon"
description: |-
  The Xelon provider is used to interact with Xelon HQ platform.
---

# {{ .ProviderShortName | title }} Provider

Use the Xelon provider to interact with the many resources supported by
multi-cloud management platform Xelon HQ. The provider needs to be configured
with the proper credentials before it can be used.

Use the navigation to the left to read about the available resources.

## Example Usage

Terraform 1.0.7 and later:

{{ tffile "examples/provider/provider.tf" }}

{{ .SchemaMarkdown | trimspace }}
